Flask
flask-cors
torch
torchvision
ultralytics
opencv-python
scikit-learn
pandas
joblib
requests
beautifulsoup4
pymongo
numpy
aiohttp
lxml
pillow
google-cloud-vision
selenium
webdriver-manager
easyocr
tensorflow
transformers
seaborn
matplotlib
plotly
bcrypt
PyJWT
aiohappyeyeballs
aiosignal
asttokens
async-timeout
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
dnspython
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
GPUtil
h11
huggingface-hub
idna
imageio
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib-inline
mpmath
multidict
narwhals
nest-asyncio
networkx
ninja
nvidia-ml-py
opencv-python-headless
outcome
packaging
parso
platformdirs
prompt_toolkit
propcache
psutil
pure_eval
py-cpuinfo
pyclipper
pycparser
pycryptodome
Pygments
pyparsing
PySocks
python-bidi
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
regex
rpds-py
safetensors
scikit-image
scipy
shapely
six
smmap
sniffio
sortedcontainers
soupsieve
stack-data
sympy
threadpoolctl
tifffile
tokenizers
toml
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
tzdata
ultralytics-thop
urllib3
wcwidth
websocket-client
Werkzeug
wsproto
yarl